<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>portfolio_detail</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://kit.fontawesome.com/fdb6b896c9.js" crossorigin="anonymous"></script>

</head>
<style>
    .body-back-color{
    background: rgba(253, 208, 208, 0.5);
    height: auto; /* 높이를 자동으로 조절합니다. */
    max-height: 200vh;
    width: 1100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    }
    .top{
    margin-right: 560px;
    }
    .fw-back-color1{
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 20px;
    height: 100px;
    width: 1040px;
    }
    .fw-back-color2{
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    border-radius: 20px;
    height: auto; /* 높이를 자동으로 조절합니다. */
    max-height: 250vh;
    width: 1040px;
    }
    .comments{
    width: 1080px;
    }
    #like-button{
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin-right: 730px;
    }
    #edit{
    background-color: #D9D9D9;
    color: #666666;
    border-color:#969696;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #delet{
    background-color: #D9D9D9;
    color: #666666;
    border-color:#969696;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
    }
    #back{
    background-color: #D9D9D9;
    color: #666666;
    border-color:#969696;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 10px;
    }
    .card-body{
    background-color: #EDEDED;
    }
    #comments-button{
    background-color: #D9D9D9;
    color: #000000;
    border: 0;
    font-weight: Medium;
    font-family: 'Noto Sans';
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 17px;
    }
    .anonymous{
    margin-right: 10px;
    margin-top: 10px;
    }
    #hashtag-style{
    background-color: #FFFFFF;
    border: 0;
    margin-left: 5px;
    padding: 0;
    color: #767676;
    }
    .delete-button{
    background-color: #D9D9D9;
    color: #666666;
    border:0;
    border-radius: 10px;
    }
    #my-text-input{
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    border: 0;
    width: 770px;
    margin-bottom:10px;
    background-color:#EDEDED
    }
    #my-text-input::placeholder {
    color: #000000; /* 원하는 색상으로 변경하세요 */
    }
    .filter-box{
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 6px solid rgba(253, 208, 208, 0.5);;
    margin-top: 20px;
    margin-bottom: 50px;
    }
    .flex-container{
    display: flex;
    }
    .status{
    box-sizing: border-box;
    border: 2px solid #02343F;
    border-radius: 20px;
    width: 10px;
    height: 10px;
    padding: 5px;
    margin-top: 45px;
    }
    .flex-container-delete{
    display: flex;
    justify-content: space-between;
    position: absolute;
    }
    .form-check-input:checked {
        background-color: #000000; /* 체크된 상태일 때의 배경색을 검은색으로 지정 */
        border-color: #000000; /* 체크된 상태일 때의 테두리 색을 검은색으로 지정 */
    }

    .form-check-input {
        background-color: #FFFFFF; /* 체크되지 않은 상태일 때의 배경색을 흰색으로 지정 */
        border-color: #000000; /* 테두리 색을 검은색으로 지정 */
    }

    .form-check-label {
        color: #000000; /* 라벨 텍스트 색을 검은색으로 지정 */
    }




</style>

<body>
<!-- Responsive navbar-->
{% include 'portfolio/menubar.html' %}
<!-- Page content-->
<div class="container mt-5">
    <div class="main flex-column align-items-center d-flex">
        <article>
            <header class="top flex-column align-items-center d-flex">
                {% if text_data %}
                <h1 style="margin-bottom: 20px; margin-right:150px;">
                    <b>{% if text_data.status1 %} {{portfolio.author}}님의 포트폴리오 {% else %} 익명의 덕우의 포트폴리오 {% endif %}</b>
                </h1>
                <div style="display: flex; justify-content: center; align-items: center;">
                    {% if text_data.image %}
                    <img src="{{ text_data.image }}" alt="Image" style="width: 170px; height: 200px; margin-right: 20px; margin-left: 560px; border-radius: 20px;">
                    {% else %}
                    <img src="{% static 'portfolio/image/duksaeheart.png' %}" style="width: 170px; height: 200px; margin-left: 560px; margin-right: 20px;">
                    {% endif %}
                    <!--필터링 박스-->
                    <div class="container">
                        <div class="" style="margin-top: 40px; font-family: 'Noto Sans KR', sans-serif;">
                            <form action="{% url 'portfolio:save_text' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="filter-box container" style=" width: 880px; height: 200px;">
                                    <!-- 학적 상태 선택 라디오 버튼 -->
                                    <div class="row mt-1">
                                        <div class="col-md-5">
                                            <label for="public-status" class="form-label" style="margin-top: 20px; margin-left: 25px; font-weight: bold; font-size: 17px;">학적 상태</label>
                                            <div class="d-flex ">
                                                {% if text_data.status %}
                                                <div class="d-flex status-radio-buttons" style="padding:10px; margin-left:20px;">
                                                    {% for status in text_data.status_all %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="{{status.id}}" name="status" value="{{status.status}}" {% if status.status == text_data.author.status.status %}checked{% endif %} disabled>
                                                        <label class="form-check-label" for="{{status.id}}" style="font-family: Noto Sans; font-weight: 400;">{{status.status}}</label>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                <div style="margin-left:40px;">❗글쓴이의 요청에 의한 비공개 처리</div>
                                                {% endif %}
                                            </div>
                                            <div>
                                                <div class="container mb-5">
                                                    <label class="form-label" style="margin-left: 15px; margin-top:10px; font-weight: bold; font-size: 17px;">대학</label>
                                                    <div class="department " style="margin-left: 30px;">{{ text_data.department }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 관심 직무 선택 체크 박스 -->
                                        <div class="col-md-7">
                                            <label style="margin-top: 20px; margin-left: 20px; font-weight: bold; font-size: 17px;">관심 직무</label>
                                            <div class="d-flex flex-wrap" style="padding: 10px; margin-left: 10px;">
                                                {% for interests in text_data.interest_all %}
                                                <div class="form-check" style="margin-right: 15px; margin-bottom: 15px;">
                                                    <input class="form-check-input" type="checkbox" value="" id="{{ interests.interest }}" {% if interests.interest in text_data.interest_field %}checked{% endif %} disabled>
                                                    <label class="form-check-label" for="{{ interests.interest }}">{{ interests.interest }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <div class="flex-column align-items-center d-flex">
                <div class="body-back-color">
                    <div class="fw-back-color1">
                        <p class="fw-bolder" style="margin-left: 20px; font-size: 30px;">{{ text_data.title | safe }}</p>
                        <!-- Post meta content-->
                        <div style="display: flex; justify-content: space-between;">
                            <!-- 해시태그-->
                            <div style="margin-left: 15px;">
                                <p>
                                    {% for hashtag in text_data.hashtags %}
                                    <button onclick="handleHashtagClick('{{ hashtag }}')" id="hashtag-style">#{{ hashtag }}</button>
                                    {% endfor %}
                                </p>
                            </div>
                            <!-- 게시한 시간-->
                            <div class="text-muted fst-italic" style="margin-right: 20px;">{{portfolio.created_at}}에 게시됨</div>
                        </div>
                    </div>
                    <!-- 작성 내용-->
                    <div class="fw-back-color2">
                        <section class="mb-5 p-5" style="overflow: auto; height: 600px; ">
                            <p class="fs-5 mb-4" style="{{ text_data.styles }}">{{ text_data.content | safe }}</p>
                        </section>
                        {% else %}
                        <p>No texts available.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <br/>
        <div style="position: relative; padding-bottom: 80px; padding-top: 10px;">
            <!--좋아요 버튼-->
            <div style="position: absolute; left: -540px; top: 10px;">
                <a id="like-button" href="like/" type="button" class="d-flex">
                    {% if request.user in portfolio.like_users.all %}
                    <i class="fa fa-heart fg-danger" style="color:#DC6E6E; font-size: 30px; margin-top:10px;"></i>
                    {% else %}
                    <i class="fa fa-heart fa-regular" style="color:#DC6E6E; font-size: 30px; margin-top:10px;"></i>
                    {% endif %}
                    <span id="like-count" style="font-size: 30px; color:#000000; margin-left:15px;">{{ portfolio.like_users.count }}</span>
                </a>
            </div>
            <div class="text-muted " style="position: absolute; right: -540px; top: 10px;">
                {% if user.is_authenticated and user == portfolio.author %}
                <a href="{% url 'portfolio:portfolio_update' pk=portfolio.pk %}" class="btn btn-primary" id="edit">수정하기</a>
                {% endif %}
                {% if user.is_authenticated and user == portfolio.author %}
                <a href="#" onclick="confirmDelete({{ portfolio.pk }})" class="btn btn-danger" id="delet">삭제하기</a>
                {% endif %}
                <a href="{% url 'portfolio:portfolio_list' %}" class="btn btn-primary" id="back">뒤로가기</a>
            </div>
        </div>
        <br/><br/><br/>
        <!-- 댓글 section-->
        <div class="comments">
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <h2>댓글</h2>
                        <hr>
                        <!-- 작성된 댓글들-->
                        {% for comment in comments reversed %}
                        <div class="d-flex ms-2 mb-4" id="comments">
                            <div class="flex-shrink-0">
                                {% if text_data.author == request.user %}
                                {% if text_data.status %}
                                {% if comment.is_anonymous %}
                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                {% else %}
                                <img class="rounded-circle" src="{{ comment.user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                {% endif %}
                                {% else %}
                                {% if comment.user == text_data.author %}
                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                {% else %}
                                {% if comment.is_anonymous %}
                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                {% else %}
                                <img class="rounded-circle" src="{{ text_data.author.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                {% endif %}
                                {% endif %}
                                {% endif %}
                                {% else %}
                                {% if comment.is_anonymous %}
                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                {% else %}
                                {% if comment.user == text_data.author %}
                                {% if text_data.status %}
                                <img class="rounded-circle" src="{{ text_data.author.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                {% else %}
                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                {% endif %}
                                {% else %}
                                <img class="rounded-circle" src="{{ comment.user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                {% endif %}
                                {% endif %}
                                {% endif %}
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold">
                                    {% if not comment.is_anonymous %}
                                    {% if comment.user == portfolio.author %}
                                    <span class="text-muted">글쓴이</span>
                                    {% else %}
                                    {{ comment.user.username }}
                                    {% endif %}
                                    {% else %}
                                    <span class="text-muted">익명</span>
                                    {% endif %}
                                    <span class="text-muted">|</span>
                                    <span class="text-muted" style="font-size: 12px;">{{ comment.created_at }}</span>
                                    <a class="clike-button {% if request.user in comment.likes.all %}liked{% endif %}"
                                       data-comment-id="{{ comment.id }}" href="" style="text-decoration: none; margin-left: 5px;">
                                        {% if request.user in comment.likes.all %}
                                        <i class="fa fa-heart fg-danger" style="color:#DC6E6E; font-size: 15px;"></i>
                                        {% else %}
                                        <i class="fa fa-heart fa-regular" style="color:#DC6E6E; font-size: 18px;"></i>
                                        {% endif %}
                                        <span class="clike-count">{{ comment.likes.count }}</span>
                                    </a>
                                </div>
                                <div class="d-flex">
                                    {{ comment.text }}
                                </div>
                                <div class="flex-container-delete" style="margin-left: 900px;">
                                    {% if comment.user == request.user %}
                                    <form method="post" action="{% url 'portfolio:delete_comment' pk=portfolio.pk comment_id=comment.id %}">
                                        {% csrf_token %}
                                        <button class="delete-button" type="submit">삭제</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <hr>
                        <form method="post" action="{% url 'portfolio:portfolio_detail' pk=portfolio.pk %}">
                            {% csrf_token %}
                            <!-- 익명 선택과 댓글 작성 input과 댓글 작성 버튼-->
                            <div class="container d-flex">
                                <div class="d-flex">
                                    <div class=" flex-shrink-0" style="margin-right: 10px;">
                                        {% if text_data.author == request.user %}
                                        {% if text_data.status %}
                                        <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                        {% else %}
                                        <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                        {% endif %}
                                        {% else %}
                                        <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="anonymous">
                                        <label>익명</label>
                                        {{ form.is_anonymous }}
                                    </div>
                                    <div class="input-comments" style="margin-right: 10px; margin-bottom: 5px;">
                                        {{ form.text }}
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary btn-block" id="comments-button" style=" margin-top: 5px;">등록하기
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<br><br>
</body>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 삭제 버튼에 대한 이벤트 리스너 등록
        var deleteButtons = document.getElementsByClassName('delete-button');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].addEventListener('click', function (event) {
                // 삭제 버튼 클릭 시 호출되는 함수
                var commentId = event.currentTarget.getAttribute('data-comment-id');
                if (!confirm('댓글을 삭제하시겠습니까?')) {
                    event.preventDefault(); // 취소를 선택한 경우에는 삭제를 중단
                }
            });
        }
    });

</script>
<script>
    const portfolioDeleteUrl = "{% url 'portfolio:portfolio_delete' pk=portfolio.pk %}";

</script>
<script>
const portfolio_pk = {{ portfolio.id }};
console.log(portfolio_pk)

    //포트폴리오 삭제
     function confirmDelete() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            fetch(portfolioDeleteUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                credentials: 'include',
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.status === 'success') {
                    alert('포트폴리오가 성공적으로 삭제되었습니다.');
                    window.location.href = "{% url 'portfolio:portfolio_list' %}";
                } else {
                    alert('삭제에 실패했습니다. 다시 시도해주세요.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('삭제에 실패했습니다. 다시 시도해주세요.');
            });
        }
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //포트폴리오 좋아요 기능
    const currentUserID = {% if request.user.is_authenticated %}"{{ request.user.id }}"{% else %}null{% endif %};
    const authorID = "{{ portfolio.author.id }}";
    const likeButton = document.getElementById('like-button');
    const likeCount = document.getElementById('like-count');
    console.log('currentUserID:', currentUserID);
    console.log('authorID:', authorID);

    if (likeButton) {
        likeButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            console.log('Like button clicked');

            // Ajax 요청
            fetch('like/')
                .then(response => response.json())
                .then(data => {
                    console.log('Response:', data);
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }
                    likeCount.textContent = data.like_count;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    } else {
        console.error('Like button not found.');
    }

document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
        if (event.target && event.target.classList.contains('clike-button')) {
            event.preventDefault();
            const likeButton = event.target;
            const commentId = likeButton.dataset.commentId;
            const portfolioId = '{{ portfolio.id }}'; // 포트폴리오 ID를 여기에 추가
            handleCommentLike(portfolioId, commentId, likeButton, event);
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
        const likeButtons = document.querySelectorAll('.clike-button');

        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', function (event) {
                event.preventDefault();

                const commentId = likeButton.dataset.commentId;

                // AJAX 요청
                fetch(`/portfolio/${portfolio_pk}/toggle_comment_like/${commentId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                .then(response => response.json())
                .then(data => {
                    // 좋아요 상태 갱신
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }

                    // 좋아요 수 갱신
                    likeButton.querySelector('.clike-count').textContent = data.like_count;
                })
                .catch(error => {
                    console.error('에러:', error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });


</script>
{% include 'single_page/footer.html' %}
</html>
