<!-- 포트폴리오 목록 페이지 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>목록페이지</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
        /* 라벨 폰트 색상을 회색(#999999)으로 지정 */
        .form-check-label {
            color: #999999;
        }

         .form-check-input:checked {
            background-color: #02343F; !important;
            border-color: #02343F;
        }

        /* 라디오 버튼의 일반 상태 색상을 #02343F로 지정 */
        .form-check-input {
            background-color: #02343F;
            border-color: #02343F;
        }
        }
    </style>
</head>

<body>
    {% include 'portfolio/menubar.html' %}
    <br/><br/>
    <div class="container mt-5">
        <form method="get" action="{% url 'portfolio:filtersearch_view' %}">
            <div class="row">
                <!-- 상태 선택 -->
                <div class="col-md-4">
                    <h6 style="font-weight: medium;">학적상태</h6>
                    {% for status in status %}
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" name="status" id="{{status.id}}" value="{{status.status}}" {% if status == '{{status.status}}' %}checked{% endif %}>
                        <label class="form-check-label" for="{{status.id}}">{{status.status}}</label>
                    </div>
                    {% endfor %}
                </div>

                <!-- 관심 직무 선택 -->
<div class="col-md-4">
    <h6 style="font-weight: medium;">관심 직무</h6>
    {% for interest in interests %}
        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="interest" id="{{ interest.slug }}" value="{{ interest.interest }}" {% if interest.interest in interest_name %}checked{% endif %}>
            <label class="form-check-label" for="{{ interest.slug }}">{{ interest.interest }}</label>
        </div>
    {% endfor %}
</div>


<!-- 단과대 및 전공 선택 -->

 <div class="col-md-4">
    <h6 style="font-weight: medium;">단과대 및 전공</h6>
    <label for="college">대학:</label>
    <select id="college" name="college">
        <option value="default">대학 선택</option>
        {% for college in colleges %}
            <option value="{{ college.name }}" {% if college.name == college %}selected{% endif %}>{{ college.name }}</option>
        {% endfor %}
    </select>

    <!-- 전공 선택 드롭다운 -->
    <label for="major">전공:</label>
    <select id="major" name="major" {% if selected_college == 'default' %}disabled{% endif %}>
        <!-- 이 부분은 JavaScript로 동적으로 업데이트됩니다 -->
    </select>
</div>
            </div>
            <!-- 검색 버튼 -->
            <button type="submit" class="btn btn-success mt-3">검색</button>
        </form>
    </div>

    <!-- 포트폴리오 리스트 -->
    <div class="container">
        <div class="row">
            {% for p in results %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        {% if p.head_image %}
                            <img src="{{ p.head_image.url }}" class="card-img-top" alt="...">
                        {% else %}
                            <img src="https://picsum.photos/seed/{{ p.id }}/800/200" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ p.author }}님</h5>
                            <p class="card-text" id="hashtags-container_{{ p.id }}">
                                {{ p.department }}
                            </p>
                            <script>
                                var hashtags = {{ p.hashtags|safe }};
                                var hashtagsContainer = document.getElementById('hashtags-container_{{ p.id }}');
                                console.log("hashtags:", hashtags);
                                console.log("hashtagsContainer:", hashtagsContainer);
                                hashtags.forEach(function(hashtag) {
                                    var button = document.createElement('button');
                                    button.textContent = '#' + hashtag;
                                    button.onclick = function() {
                                        handleHashtagClick(hashtag);
                                    };
                                    hashtagsContainer.appendChild(button);
                                });
                            </script>
                            <a href="{{ p.get_absolute_url }}" class="btn btn-primary text-light">더보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% for p in portfolio_list %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        {% if p.head_image %}
                        <img src="{{ p.head_image.url }}" class="card-img-top" alt="...">
                        {% else %}
                        <img src="https://picsum.photos/seed/{{p.id}}/800/200" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{% if p.anonymous %}
                            {{p.author}}님  {% else %} 익명의 덕우 {% endif %}</h5>
    <p class="card-text" id="hashtags-container">
        {{ p.department }}
    </p>

    <script>
        var hashtags = {{ p.hashtags|safe }};
        var hashtagsContainer = document.getElementById('hashtags-container_{{ p.id }}');

        hashtags.forEach(function(hashtag) {
            var button = document.createElement('button');
            button.textContent = '#' + hashtag;
            button.onclick = function() {
                handleHashtagClick(hashtag);
            };
            hashtagsContainer.appendChild(button);
        });
    </script>

    <a href="{{ p.get_absolute_url }}" class="btn btn-primary text-light">더보기</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br/><br/>
    <!-- 페이지네이션 링크 표시 -->
    <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="btn btn-primary text-light">Prev</a>
            {% endif %}
            Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="btn btn-primary text-light">Next</a>
            {% endif %}
        </span>
    </div><br/>
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<!-- 부트스트랩 및 jQuery 스크립트 추가 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script>
// 전역 스코프에 selectedMajor 변수 추가
var selectedCollege = '{{ selected_college }}';
var selectedMajor = '{{ selected_major }}';

document.addEventListener('DOMContentLoaded', function () {
    var collegeDropdown = document.getElementById('college');
    var majorDropdown = document.getElementById('major');

    // Function to update major options based on the selected college
    function updateMajorOptions(college) {
        majorDropdown.innerHTML = ''; // Clear existing options

        switch (college) {
            case '과기':
                {% for major in sm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '약학':
                {% for major in pm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '아앤디':
                {% for major in am %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '글융':
                {% for major in gm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
        }
    }

    // Event listener for the college dropdown
    collegeDropdown.addEventListener('change', function () {
        selectedCollege = this.value;
        majorDropdown.disabled = false; // Enable major dropdown
        updateMajorOptions(selectedCollege); // Update major options based on the selected college
    });

    // Initialize the major dropdown based on the selected college
    if (selectedCollege !== 'default') {
        collegeDropdown.value = selectedCollege;
        updateMajorOptions(selectedCollege);
    }

    // Set the selected major if it's not the default value
    if (selectedMajor !== '') {
        majorDropdown.value = selectedMajor;
    }
});

// Event listener for the major dropdown
document.getElementById('major').addEventListener('change', function () {
    selectedMajor = this.value;
    console.log(selectedMajor);
});
</script>
</body>

</html>







