<!DOCTYPE html>
{% load static %}
{% load tz %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>모집글 상세페이지</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/edea15a092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'portfolio/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
</head>
<style>

        .body-back-color {
        background: #F1F5FC;
        height: auto;
        max-height: 200vh;
        width: 1100px;
        margin-left: 300px;
        margin-right: 300px;
        border-radius: 20px;
    }

    .fw-back-color1 {
        background-color: #FFFFFF;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 20px;
        height: auto;
        max-height: 200vh;
        width: 1040px;
    }

    .fw-back-color2 {
        background-color: #FFFFFF;
        margin-left: 30px;
        border-radius: 20px;
        height: auto;
        max-height: 250vh;
        width: 1040px;
    }

    .title {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        margin-left: 310px;
    }

    #comments-button {
        background-color: #D9D9D9;
        color: #000000;
        border: 0;
        font-weight: Medium;
        font-family: 'Noto Sans';
        border-radius: 10px;
        padding: 5px 12px;
        font-size: 17px;
        margin-left: 10px;
    }

    .comments {
        width: 1080px;
    }

    #like-button {
        border-radius: 5px;
        text-decoration: none;
        color: black;
        margin-right: 730px;
    }

    #edit {
        background-color: #D9D9D9;
        color: #666666;
        border-color: #969696;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px 10px;
    }

    #delet {
        background-color: #D9D9D9;
        color: #666666;
        border-color: #969696;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px 10px;
    }

    #back {
        background-color: #D9D9D9;
        color: #666666;
        border-color: #969696;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px 10px;
    }

    .delete-button {
        background-color: #D9D9D9;
        color: #666666;
        border: 0;
        border-radius: 10px;
    }

    .anonymous {
        margin-right: 10px;
        margin-top: 10px;
    }

    #my-text-input {
        color: #000000;
        padding: 10px;
        border-radius: 20px;
        border: 0;
        width: 770px;
        margin-bottom: 10px;
        background-color: #EDEDED
    }

    #my-text-input::placeholder {
        color: #000000;
    }

    .filter-box {
        background-color: #FFFFFF;
        border-radius: 20px;
        border: 3px solid rgba(196, 220, 255);
        margin-top: 20px;
        margin-bottom: 30px;
        /* 수정된 부분 시작 */
        padding-left: 15px;
        padding-right: 15px;
        /* 수정된 부분 끝 */
    }

    .flex-container {
        display: flex;
    }

    /* 추가된 부분 */
    .container {
        margin-left: 0; /* 왼쪽 마진 초기화 */
        margin-right: 0; /* 오른쪽 마진 초기화 */
        padding-left: 15px; /* 좌우 패딩 추가 */
        padding-right: 15px; /* 좌우 패딩 추가 */
    }

    .row {
        margin-left: 0; /* 왼쪽 마진 초기화 */
        margin-right: 0; /* 오른쪽 마진 초기화 */
    }

    .col-md-1,
    .col-md-4,
    .col-md-7 {
        padding-left: 0; /* 좌우 패딩 초기화 */
        padding-right: 0; /* 좌우 패딩 초기화 */
    }

</style>
<body>
<!-- Responsive navbar-->
{% include 'portfolio/menubar.html' %}
<!-- Page content-->
<div class="container mt-5">
    <div class="main flex-column align-items-center d-flex">
            <article>
                <div class="mt-3" >
                    <div class="title">모집글 상세페이지</div>
                </div>
                <header class="top flex-column align-items-center d-flex">
                {% if text_data %}
                <div style="display: flex; justify-content: center; align-items: center;">
                    <!--필터링 박스-->
                    <div class="container" >
                        <div class="" style="margin-top: 40px; font-family: 'Noto Sans KR', sans-serif;">
                            <form action="{% url 'recruit:save_text' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="filter-box container mx-auto" style="width: 1100px; height: 135px; margin-bottom: 30px;">
                                    <!-- 전공 -->
                                    <div style="display: flex; align-items: center; justify-content: center;">
                                    <div class="row mt-1">
                                        <div class="col-md-1" style="padding-left:30px; padding-right:0px;">
                                                    <label class="form-label" style="margin-top: 20px; margin-left: 20px; font-weight: bold; font-size: 17px;">전공</label>
                                                    <div class="department " style=" padding-top:5px; margin-left: 20px;">{{ text_data.department }}</div>
                                                </div>
                                        <!-- 학적 상태 선택 라디오 버튼 -->
                                        <div class="col-md-4" style="padding-left:40px; padding-right:0px;">
                                            <label for="public-status" class="form-label" style="margin-top: 20px; padding-left: 20px; font-weight: bold; font-size: 17px;">학적 상태</label>
                                            <div class="d-flex ">
                                                <div class="d-flex status-radio-buttons" style="padding:5px; margin-left:20px; padding-left:30px;">
                                                    {% if text_data.status %}
                                                    {% for status in text_data.status_all %}
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio" id="{{status.id}}" name="status" value="{{status.status}}" {% if status.status == text_data.author.status.status %}checked{% endif %} disabled>
                                                        <label class="form-check-label" for="{{status.id}}" style="font-family: Noto Sans; font-weight: 400;">{{status.status}}</label>
                                                    </div>
                                                    {% endfor %}
                                                    {% else %}
                                                        <p>❗글쓴이의 요청에 의한 비공개 처리</p>
                                                    {% endif %}


                                                </div>
                                            </div>
                                            <div>
                                        </div>
                                        </div>

                                        <!-- 관심 직무 선택 체크 박스 -->
                                        <div class="col-md-7" style="padding-left:90px; padding-right:0px; margin-right:0px;">
                                            <label style="margin-top: 20px; font-weight: bold; font-size: 17px;">관심 직무</label>
                                            <div class="d-flex flex-wrap">
                                                {% for interests in text_data.interest_all %}
                                                    <div class="form-check" style="width: 21%; padding-top:5px;">
                                                        <input class="form-check-input" type="checkbox" value="" id="{{ interests.interest }}" {% if interests.interest in text_data.interest_field %}checked{% endif %} disabled>
                                                        <label class="form-check-label" for="{{ interests.interest }}" style="margin-right:10px;">{{ interests.interest }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
                <div class="flex-column align-items-center d-flex">
                <div class="body-back-color" >
                <div class="fw-back-color1">
                    <header class="mb-4">
                        <div class="row">
                            <div class="top1 col-md-9">
                                <h1 class="user-input-title" style="margin-left:10px; margin-top:10px;">{{ text_data.title | safe }}</h1>
                                {% now "Y년 m월 d일 H시 i분 " as now %}
                                {% with d_day=recruit.calculate_d_day|add:"1" %} {% if d_day > 0 %}
                                <p style="margin-left:20px;">모집인원 : {{ text_data.people }} | 마감 기한: {{ recruit.deadline|date:"Y년 m월 d일" }} (D-{{ d_day }})</p>
                                {% else %}
                                <p style="margin-left:20px;">모집인원 : {{ text_data.people }} | 마감되었습니다.</p>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="top2 d-flex col-md-3" style="margin-top:20px;">
                                <img src="{{ text_data.author.profile.image.url }}" alt="Image" style="width: 50px; height: 50px; margin-right: 20px;  border-radius: 20px;">
                                <div>
                                    <b style="font-size:22px;">{{text_data.author}}님</b>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
                    <div class="fw-back-color2">
                <!-- Post content-->
                <section class="mb-5" style="overflow: auto; height: 500px; ">
                    <p class="fs-5 mb-4 p-2" style="{{ text_data.styles }}">{{ text_data.content | safe }}</p>
                </section>
                {% else %}
                <p>No texts available.</p>
                {% endif %}
                    </div>
                    {% if text_data.file %}
                <p style="margin-left:30px;">
                    첨부 파일 : <a href="{{ text_data.file.url }}" download="{{ text_data.file_name }}">{{ text_data.file_name }}</a>
                </p>
                {% endif %}
                </div>
                </div>
            </article>
        <div style="position: relative; padding-bottom: 80px; ">
            <!--좋아요 버튼-->
            <div style="position: absolute; left: -540px; top: 10px;">
            <a id="like-button" href="like/" type="button" class="d-flex">
                {% if request.user in recruit.like_users.all %}
                <i class="fa fa-heart fg-danger" style="color:#DC6E6E; font-size: 40px; margin-top:10px;"></i>
                {% else %}
                <i class="fa fa-heart fa-regular" style="color:#DC6E6E; font-size: 40px; margin-top:10px;"></i>
                {% endif %}
                <span id="like-count" style="font-size: 30px; margin-left: 15px; color:#000000; margin-left:15px;" >{{ recruit.like_users.count }}</span>
            </a>
            </div>
            <div class="text-muted " style="position: absolute; right: -540px; top: 10px;">
                {% if user.is_authenticated and user == recruit.author %}
            <a href="{% url 'recruit:recruit_update' pk=recruit.pk %}" class="btn btn-primary" id="edit">수정하기</a>
            {% endif %}
            {% if user.is_authenticated and user == recruit.author %}
            <a href="#" onclick="confirmDelete({{ recruit.pk }})" class="btn btn-danger" id="delet">삭제하기</a>
            {% endif %}
            <a href="{% url 'recruit:recruit_list' %}" class="btn btn-primary" id="back">뒤로가기</a>
            <br/><br/>
        </div>
        </div>
            <!-- 댓글 section-->
        <div class="comments">
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body" style="background-color:#EDEDED">
                        <!-- Comment form-->
                        <h2>댓글</h2>
                        <hr>
                        <!-- 작성된 댓글들-->
                        {% for comment in comments %}
                        <div class="d-flex ms-2 mb-4">
                            <div class="flex-shrink-0">
                                {% if text_data.author == request.user %}
                                        {% if text_data.status %}
                                                {% if comment.is_anonymous %}
                                                    <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                                {% else %}
                                                    <img class="rounded-circle" src="{{ comment.user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                                {% endif %}
                                        {% else %}
                                                {% if comment.user == text_data.author %}
                                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                                {% else %}
                                                    {% if comment.is_anonymous %}
                                                        <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img class="rounded-circle" src="{{ text_data.author.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                                    {% endif %}
                                                {% endif %}
                                        {% endif %}
                                {% else %}
                                    {% if comment.is_anonymous %}
                                                <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                    {% else %}
                                                {% if comment.user == text_data.author %}
                                                    {% if text_data.status %}
                                                        <img class="rounded-circle" src="{{ text_data.author.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                                    {% endif %}
                                                {% else %}
                                                    <img class="rounded-circle" src="{{ comment.user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                                {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold">
                                    {% if not comment.is_anonymous %}
                                    {% if comment.user == recruit.author %}
                                    <span class="text-muted">글쓴이</span>
                                    {% else %}
                                    {{ comment.user.username }}
                                    {% endif %}
                                    {% else %}
                                    <span class="text-muted">익명</span>
                                    {% endif %}
                                    <span class="text-muted">|</span>
                                    <span class="text-muted" style="font-size: 12px;">{{ comment.created_at }}</span>
                                    <a class="clike-button {% if request.user in comment.likes.all %}liked{% endif %}" data-comment-id="{{ comment.id }}" href="" style="text-decoration: none; margin-left: 5px;">
                                        {% if request.user in comment.likes.all %}
                                        <i class="fa fa-heart fg-danger" style="color:#DC6E6E; font-size: 20px;"></i>
                                        {% else %}
                                        <i class="fa fa-heart fa-regular" style="color:#DC6E6E; font-size: 20px;"></i>
                                        {% endif %}
                                        <span class="clike-count">{{ comment.likes.count }}</span>
                                    </a>
                                </div>
                                <div class="d-flex">
                                    {{ comment.text }}
                                </div>
                                <div class="flex-container-delete" style="margin-left: 900px;">
                                    {% if comment.user == request.user %}
                                    <form method="post" action="{% url 'recruit:delete_comment' pk=recruit.pk comment_id=comment.id %}">
                                        {% csrf_token %}
                                        <button class="delete-button" type="submit">삭제</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <hr>
                        <form method="post" action="{% url 'recruit:recruit_detail' pk=recruit.pk %}">
                            {% csrf_token %}
                            <div class="container d-flex">
                                <div class="d-flex">
                                    <div class=" flex-shrink-0" style="margin-right: 10px;">
                                        {% if text_data.author == request.user %}
                                            {% if text_data.status %}
                                            <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                            {% else %}
                                            <img class="rounded-circle" src="{% static 'portfolio/image/duksaeheart.png' %}" alt="..." style="width: 50px; height: 50px;">
                                            {% endif %}
                                        {% else %}
                                            <img class="rounded-circle" src="{{ user.profile.image.url }}" alt="..." style="width: 50px; height: 50px;">
                                        {% endif %}
                                    </div>
                                    <div class="anonymous">
                                    <label>익명</label>
                                    {{ form.is_anonymous }}
                                    </div>
                                </div>
                                <div class="input-comments" style="margin-right: 10px; margin-bottom: 5px;" >
                                    {{ form.text }}
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary btn-block" id="comments-button">댓글 작성</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 mt-5" style="background-color: #EDEDED; ">
        <div class="container">
            <p class="m-0 text-center text-dark" style="font-size: 25px; font-weight: bold;">Portfolio For DukSung!</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
<script>
    const recruitDeleteUrl = "{% url 'recruit:recruit_delete' pk=recruit.pk %}";
</script>
<script>
//댓글 삭제
    document.addEventListener('DOMContentLoaded', function () {
        // 삭제 버튼에 대한 이벤트 리스너 등록
        var deleteButtons = document.getElementsByClassName('delete-button');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].addEventListener('click', function (event) {
                // 삭제 버튼 클릭 시 호출되는 함수
                var commentId = event.currentTarget.getAttribute('data-comment-id');
                if (!confirm('댓글을 삭제하시겠습니까?')) {
                    event.preventDefault(); // 취소를 선택한 경우에는 삭제를 중단
                }
            });
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var dynamicField = document.getElementById("dynamic-field");

        // 예시: content 길이에 따라 스크롤 가능 여부 결정
        if (dynamicField.scrollHeight > dynamicField.clientHeight) {
            dynamicField.classList.add("scrollable-content");
        } else {
            dynamicField.classList.remove("scrollable-content");
        }
    });
</script>
<script>

//댓글 좋아요
const recruit_pk = {{ recruit.id }};
    console.log(recruit_pk)

     function confirmDelete() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            fetch(recruitDeleteUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                credentials: 'include',
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.status === 'success') {
                    alert('포트폴리오가 성공적으로 삭제되었습니다.');
                    window.location.href = "{% url 'recruit:recruit_list' %}";
                } else {
                    alert('삭제에 실패했습니다. 다시 시도해주세요.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('삭제에 실패했습니다. 다시 시도해주세요.');
            });
        }
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const currentUserID = {% if request.user.is_authenticated %}"{{ request.user.id }}"{% else %}null{% endif %};
    const authorID = "{{ recruit.author.id }}";
    const likeButton = document.getElementById('like-button');
    const likeCount = document.getElementById('like-count');
    console.log('currentUserID:', currentUserID);
    console.log('authorID:', authorID);

    if (likeButton) {
        likeButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            console.log('Like button clicked');

            // Ajax 요청
            fetch('like/')
                .then(response => response.json())
                .then(data => {
                    console.log('Response:', data);
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }
                    likeCount.textContent = data.like_count;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    } else {
        console.error('Like button not found.');
    }


    //댓글 좋아요


    document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
        if (event.target && event.target.classList.contains('clike-button')) {
            event.preventDefault();
            const likeButton = event.target;
            const commentId = likeButton.dataset.commentId;
            const portfolioId = '{{ portfolio.id }}'; // 포트폴리오 ID를 여기에 추가
            handleCommentLike(portfolioId, commentId, likeButton, event);
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
        const likeButtons = document.querySelectorAll('.clike-button');

        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', function (event) {
                event.preventDefault();

                const commentId = likeButton.dataset.commentId;

                // AJAX 요청
                fetch(`/recruit/${recruit_pk}/toggle_comment_like/${commentId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                .then(response => response.json())
                .then(data => {
                    // 좋아요 상태 갱신
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }

                    // 좋아요 수 갱신
                    likeButton.querySelector('.clike-count').textContent = data.like_count;
                })
                .catch(error => {
                    console.error('에러:', error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>

</html>
