<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/writec.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-
        4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <title>recruit</title>
    <style>
         #image-preview-placeholder {
        width: 150px;
        height: 200px;
        margin-top: 10px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    #image-input {
        display: none; /* 파일 선택 input을 숨김 */
    }
    .other-input-container {
            height: 200px;
            width: 55%;
            background-color: #EFEFEF;
            padding: 20px;
            margin-left: 391px;
            margin-top: 100px;
    }

    .status-radio-buttons,
    .status-radio-buttons2 {
            padding: 10px;
    }


    </style>
</head>
<body>
{% include 'portfolio/menubar.html' %}

<!--필터링박스-->

<div class="container">
    <div class="row" style="margin-top: 40px; font-family: 'Noto Sans KR', sans-serif;">

        <div style="width: 100%; height: 100%; color: #191919; font-size: 28px; font-family: Noto Sans; font-weight: 600; margin-left: 100px; word-wrap: break-word">합격 수기 작성</div>

        <form action="{% url 'portfolio:save_text' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="image-container" onclick="openImageInput(this)" style="margin-left: 207px; margin-top: 100px;">
                <div id="image-preview-placeholder" style="background: #D9D9D9; border-radius: 20px">
                    <span>사진 선택</span>
                </div>
                <input type="file" id="image-input" accept="image/*" onchange="previewImage(this)">

            </div>
            <!--필터링:졸업생-->
            <div class="container mb-4 rounded p-2"
                 style=" height: 200px; margin-left:380px; margin-top: -200px; width: 55%; background-color: #A9D6A33D">


                <!-- 기업정보 -->
                <div class="container mt-1" style="margin-top: -5px;">
                    <label for="public-status" class="form-label">기업 정보</label>
                    <br>
                    <div class="col-auto" style="width: 150px;">

                        <input id="company-name" class="form-control form-control-sm" type="text" placeholder="기업 이름" style="font-family: Noto Sans; font-weight: 400; border-radius: 10px; border: 2px #02343F solid;" aria-label=".form-control-sm example">

                    </div>
                    <br><br>

                </div>
                <!-- 게시글 익명 처리 버튼 -->
                <div class="status-radio-buttons2" style="padding:10px; margin-top: -117px; margin-left: 190px;">
                    <label for="public-status1" class="form-label">유저 이름</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="public-status1" name="anonymous" value="public">
                        <label class="form-check-label" for="public-status1" style="font-family: Noto Sans; font-weight: 400;">공개</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="private-status1" name="anonymous" value="private">
                        <label class="form-check-label" for="private-status1" style="font-family: Noto Sans; font-weight: 400;">비공개</label>
                    </div>
                </div>

                <!--대학과 전공-->

                <div class="container mt-4" style="margin-left: 375px;">
                    <div class="row mt-4">
                        <div class="col-md-6" style="margin-top: -96px; ">
                            <div class="dropdown">
                                <label class="form-label" for="college">대학</label>
                                <select class="form-select form-select-sm" id="college" name="college" style=" font-family: Noto Sans; font-weight: 400;width: 100px;border-radius: 10px; border: 2px #02343F solid;">
                                    <option value="default">단과대</option>
                                    {% for college in college %}
                                    <option value="{{college.name}}">{{college.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="dropdown" style=" margin-left: -219px; margin-top: -96px;">
                                <label class="form-label" for="major">전공</label>
                                <select class="form-select form-select-sm" id="major" name="major" style="width: 160px;border-radius: 10px; border: 2px #02343F solid;">전공 선택</select>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- 관심 직무 선택 체크 박스 -->
                <div class="interest" style="padding-left:12px;">
                    <label for="interest-field" style="margin-bottom: 10px; ">관심 직무</label><br>
                    <div class="i" style="font-family: Noto Sans; font-weight: 400;">
                        {% for interest in interests.all %}
                        <input type="checkbox" id="interest-field-{{ interest.id }}" name="interestField" value="{{ interest.id }}"> {{ interest.interest }}
                        {% endfor %}
                    </div>
                    <br><br>
                </div>

            </div>

        </form>
    </div>
    <div class="container  mb-4 rounded p-3" style="width: 70%; background-color: #A9D6A33D;">
        <!-- 제목 입력란 추가 -->
        <div class="mb-3">
            <label for="title-input" class="form-label" style="color: black; font-size: 18px; font-family: 'Noto Sans KR', sans-serif; ">제목</label>
            <input type="text" class="form-control" id="title-input" name="title" placeholder="제목" style="border-radius: 10px; border: 2px #02343F solid;">
        </div>

        <!-- 해시태그 입력란 추가 -->
        <div id="hashtags-container" class="mb-3">
            <label for="title-input" class="form-label" style="color: black; font-size: 18px; font-family: 'Noto Sans KR', sans-serif;">해시태그</label>
            <div class="input-group mb-3">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control hashtag-input" placeholder="해시태그" aria-label="First hashtag" style="border-radius: 20px; border: 2px #02343F solid;">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control hashtag-input" placeholder="해시태그" aria-label="Second hashtag" style="border-radius: 20px; border: 2px #02343F solid;">
                    </div>
                </div>
            </div>
        </div>

        <!-- 해시태그 추가 버튼 -->

        <button type="button" class="btn btn-primary btn-lg" style="background: #02343F;width: 70px; height: 34px;font-size: 14px; margin-left: 805px;" onclick="addHashtagField()">추가</button>

    </div>


    <div class="col-3">

    </div>
    <!--텍스트 입력 전체-->
    <div class="col-6 mx-auto" style="width: 70%; height: 100%;">
        <div class="container"
             style="border: 6px rgba(165, 204, 162, 0.25) solid; background-color: #F8F8FA; border-radius: 10px; padding-top: 30px;">
            <div class="card me-auto"
                 style="padding: 15px; border-radius: 10px; width: 97%; height: 60%; margin-left: 18px; margin-top: 40px;">
                <div class="options">
                    <button id="bold" class="option-button format">
                        <i class="fa-solid fa-bold"></i>
                    </button>
                    <button id="superscript" class="option-button script">
                        <i class="fa-solid fa-superscript"></i>
                    </button>
                    <button id="subscript" class="option-button script">
                        <i class="fa-solid fa-subscript"></i>
                    </button>

                    <button id="insertOrderedList" class="option-button">
                        <div class="fa-solid fa-list-ol"></div>
                    </button>
                    <button id="insertUnorderedList" class="option-button">
                        <i class="fa-solid fa-list"></i>
                    </button>

                    <button id="undo" class="option-button">
                        <i class="fa-solid fa-rotate-left"></i>
                    </button>
                    <button id="redo" class="option-button">
                        <i class="fa-solid fa-rotate-right"></i>
                    </button>

                    <button id="createLink" class="adv-option-button">
                        <i class="fa fa-link"></i>
                    </button>
                    <button id="unlink" class="option-button">
                        <i class="fa fa-unlink"></i>
                    </button>

                    <button id="justifyLeft" class="option-button align">
                        <i class="fa-solid fa-align-left"></i>
                    </button>
                    <button id="justifyCenter" class="option-button align">
                        <i class="fa-solid fa-align-center"></i>
                    </button>
                    <button id="justifyRight" class="option-button align">
                        <i class="fa-solid fa-align-right"></i>
                    </button>
                    <button id="justifyFull" class="option-button align">
                        <i class="fa-solid fa-align-justify"></i>
                    </button>
                    <button id="indent" class="option-button spacing">
                        <i class="fa-solid fa-indent"></i>
                    </button>
                    <button id="outdent" class="option-button spacing">
                        <i class="fa-solid fa-outdent"></i>
                    </button>
                    <select id="formatBlock" class="adv-option-button">
                        <option value="H1">H1</option>
                        <option value="H2">H2</option>
                        <option value="H3">H3</option>
                        <option value="H4">H4</option>
                        <option value="H5">H5</option>
                        <option value="H6">H6</option>
                    </select>
                    <select id="fontName" class="adv-option-button"></select>
                    <select id="fontSize" class="adv-option-button"></select>

                    <div class="input-wrapper">
                        <input type="color" id="foreColor" class="adv-option-button">
                        <label for="foreColor">Font Color</label>
                    </div>
                    <div class="input-wrapper">
                        <input type="color" id="backColor" class="adv-option-button">
                        <label for="backColor">Highlight Color</label>
                    </div>
                    <button id="btn-image">
                        IMG
                    </button>
                    <input id="img-selector" type="file" accept="image/*"/>
                </div>
            </div>

            <div class="container" style="padding-bottom: 90px; margin-bottom: 30px;">
                <!--텍스트 입력창-->
                <div id="text-input" contenteditable="true" style="overflow: auto; height: 500px; margin-top: 50px; border-radius: 10px;  background: white;"></div>

            </div>
        </div>

        <button onclick="saveText()" style="width: 100px;  margin-top: 25px;height: 38px;background: rgba(165, 204, 162, 0.25); color: #767676;border-radius: 10px; font-family: Noto Sans; font-weight: 600;margin-left: 803px; word-wrap: break-word;">등록하기</button>
    </div>
    <br><br><br><br>
    <script>
function addHashtagField() {
  var hashtagsContainer = document.getElementById('hashtags-container');
  var existingHashtags = document.querySelectorAll('.hashtag-input');

  if (existingHashtags.length < 4) {
    // Create a new column for the input field
    var newCol = document.createElement('div');
    newCol.className = 'col';

    // Create a new input field
    var newHashtagInput = document.createElement('input');
    newHashtagInput.type = 'text';
    newHashtagInput.className = 'form-control hashtag-input';
    newHashtagInput.placeholder = '해시태그';


     // 추가되는 해시태그 색
        newHashtagInput.style.borderRadius = '20px';
        newHashtagInput.style.border = '2px solid #02343F';

    // Append the input field to the column
    newCol.appendChild(newHashtagInput);

    // Append the column to the existing row
    var existingRow = hashtagsContainer.querySelector('.row');
    existingRow.appendChild(newCol);
  } else {
    alert('태그는 최대 4개까지만 등록 가능합니다.');
  }
}
// 전역 스코프에 selectedMajor 변수 추가
var selectedMajor;

document.getElementById('college').addEventListener('change', function () {
    var selectedCollege = this.value;
    var majorDropdown = document.getElementById('major');

    // 전체 전공 옵션을 비활성화
    majorDropdown.innerHTML = '<option value="" selected disabled hidden>전공을 선택하세요</option>';

    // 대학에 따른 전공 옵션을 추가
    switch (selectedCollege) {
        case '과학기술대학':
            {% for major in sm %}
                majorDropdown.innerHTML += '<option value="{{ major.id }}">{{ major.name }}</option>';
            {% endfor %}
            break;
        case '약학대학':
            {% for major in pm %}
                majorDropdown.innerHTML += '<option value="{{ major.id }}">{{ major.name }}</option>';
            {% endfor %}
            break;
        case '아트앤디자인대학':
            {% for major in am %}
                majorDropdown.innerHTML += '<option value="{{ major.id }}">{{ major.name }}</option>';
            {% endfor %}
            break;
        case '글로벌융합대학':
            {% for major in gm %}
                majorDropdown.innerHTML += '<option value="{{ major.id }}">{{ major.name }}</option>';
            {% endfor %}
            break;
    }


    // 선택된 대학에 따라 전공 드롭다운 활성화
    majorDropdown.disabled = false;
});

// 전공을 선택할 때 selectedMajor에 저장
document.getElementById('major').addEventListener('change', function () {
    selectedMajor = this.value;
    console.log(selectedMajor);  // 선택된 전공을 확인하기 위해 추가
});

function saveText() {
    var title = document.getElementById('title-input').value;
    console.log('Title:', title);

    var editableContent = document.getElementById('text-input').innerHTML;
    var styles = window.getComputedStyle(document.getElementById('text-input'));
    var hashtags = document.querySelectorAll('.hashtag-input');
    var hashtagValues = Array.from(hashtags).map(tag => tag.value);
    var imageInput = document.getElementById('image-input').files[0];
    var company_name = document.getElementById('company-name').value;


    // 유저 이름
    var statusElements1 = document.getElementsByName('anonymous');
    var selectedStatus1 = "";
    for (var i = 0; i < statusElements1.length; i++) {
        if (statusElements1[i].checked) {
            selectedStatus1 = statusElements1[i].value;
            break;
        }
    }

    // 'public'이면 true, 아니면 false로 변환
    selectedStatus1 = (selectedStatus1 === 'public');
    console.log('selectedStatus1:', selectedStatus1);

    var interestFieldElements = document.getElementsByName('interestField');
    var selectedFields = Array.from(interestFieldElements)
        .filter(field => field.checked)
        .map(field => field.value);

    console.log('selectedFields:', selectedFields);

    var selectedDepartment;
    var selectedDropdowns = document.querySelectorAll('select[name="department"]');
    for (var i = 0; i < selectedDropdowns.length; i++) {
        if (selectedDropdowns[i].value) {
            selectedDepartment = selectedDropdowns[i].value;
            break;
        }
    }

    console.log('Saved Major:', selectedMajor);  // 이 부분을 이동
    var formData = new FormData();
    formData.append('title', title);
    formData.append('content', editableContent);
    formData.append('styles', JSON.stringify({
        color: styles.color,
        backgroundColor: styles.backgroundColor,
        fontSize: styles.fontSize,
    }));
    formData.append('hashtags', JSON.stringify(hashtagValues));
    formData.append('image', imageInput);
    formData.append('anonymous', selectedStatus1);
    formData.append('company_name', company_name);


    // selectedFields 배열의 각 값을 개별적으로 추가
    selectedFields.forEach(field => {
        formData.append('interest_field', field);
    });

    formData.append('department', selectedMajor);

    var csrfToken = getCookie('csrftoken');

    if (window.confirm('정말로 저장하시겠습니까?')) {
        fetch('/pass_portfolio/save_text/', {
    method: 'POST',
    headers: {
        'X-CSRFToken': csrfToken,
    },
    credentials: 'include',
    body: formData,
})
    .then(response => response.json())
    .then(data => {
        console.log('Server Response:', data);  // 서버 응답을 콘솔에 출력
        if (data && data.status === 'success' && data.pk) {
            console.log('Text saved successfully!');
            console.log('Redirecting to portfolio detail page');
            window.location.href = '/pass_portfolio/' + data.pk + '/';
        } else {
            console.error('Error:', data);
            alert('Text save failed. Please try again.');
            console.log('Detailed error data:', data);
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Text save failed. Please try again.');
    });
    }

}

    </script>
    <script src="{% static 'portfolio/load.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</div>
</body>
{% include 'single_page/footer.html' %}
</html>