<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>힛</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/edea15a092.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'portfolio/bootstrap/bootstrap.min.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>
    <script>
        function handleHashtagClick(hashtag) {
            // 클릭한 해시태그에 대한 동작을 수행하는 JavaScript 함수
            console.log('Clicked hashtag:', hashtag);
            // 원하는 동작을 여기에 추가
        }
    </script>
</head>

<body>
    <!-- Responsive navbar-->
    {% include 'portfolio/menubar.html' %}
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        {% if text_data %}
                        <div style="display: flex; align-items: flex-start;">
                            {% if text_data.image %}
                            <img src="{{ text_data.image }}" alt="Image" style="width: 150px; height: 200px; margin-right: 20px;">
                            {% else %}
                            <img id="image-preview-placeholder" onclick="openImageInput()" src="{% static 'portfolio/image/duksaeheart.png' %}" style="width: 150px; height: 200px; margin-right: 20px;">
                            {% endif %}
                            <div>
                                <p>Status: 졸업생</p>
                                <p>Interest Field:
                                    {% for interest in text_data.interest_field %}
                                    <button onclick="handleHashtagClick('{{ interest }}')">{{ interest }}</button>
                                    {% endfor %}
                                </p>
                                <p>Department: {{ text_data.department }}</p>
                                {% if text_data.company_name %}
                                    <p>Company Name: {{ text_data.company_name }}</p>
                                {% endif %}
                                {% if text_data.company_info %}
                                    <p>Company Info: {{ text_data.company_info }}</p>
                                {% endif %}
                            </div>

                        </div>
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ text_data.title | safe }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Posted on {{pass_portfolio.created_at}}</div>
                        <p>
                            {% for hashtag in text_data.hashtags %}
                            <button onclick="handleHashtagClick('{{ hashtag }}')">#{{ hashtag }}</button>
                            {% endfor %}
                        </p>
                    </header>


                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4" style="{{ text_data.styles }}">{{ text_data.content | safe }}</p>

                    </section>
                    {% else %}
                    <p>No texts available.</p>
                    {% endif %}
                </article>
                <!--좋아요 버튼-->
                <a id="like-button" href="like/" type="button" style="margin-left: 20px; margin-right: 20px; border-radius: 5px;padding: 10px 20px;background-color: #FFFDF0;text-decoration: none;color: black;">
                    {% if request.user in pass_portfolio.like_users.all %}
                    <i class="fa fa-heart fg-danger" style="color:red; font-size: 20px;"></i>
                    {% else %}
                    <i class="fa fa-heart fa-regular" style="color:red; font-size: 20px;"></i>
                    {% endif %}
                    <span id="like-count" style="font-size: 20px;">{{ pass_portfolio.like_users.count }}</span>
                </a>
                {% if user.is_authenticated and user == pass_portfolio.author %}
                    <a href="{% url 'pass_portfolio:pass_portfolio_update' pk=pass_portfolio.pk %}" class="btn btn-primary">수정하기</a>
                {% endif %}
                {% if user.is_authenticated and user == pass_portfolio.author %}
                    <a href="#" onclick="confirmDelete({{ pass_portfolio.pk }})" class="btn btn-danger">삭제하기</a>
                {% endif %}
                <a href="{% url 'pass_portfolio:pass_portfolio_list' %}" class="btn btn-primary">뒤로가기</a>
                <br/><br/> <br/>

                <!-- 댓글 section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form method="post" action="{% url 'pass_portfolio:pass_portfolio_detail' pk=pass_portfolio.pk %}">
                                {% csrf_token %}
                                <h2>댓글</h2>

                                <div class="row">
                                    <div class="col-md-2">
                                        <label>익명</label>
                                        {{ form.is_anonymous }}
                                    </div>

                                    <div class="col-md-5">
                                        {{ form.text }}
                                    </div>

                                    <div class="col-md-5">
                                        <button type="submit" class="btn btn-primary btn-block">댓글 작성</button>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <!-- Comment with nested comments-->
                            {% for comment in comments %}
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            {% if not comment.is_anonymous %}
                                                {% if comment.user == pass_portfolio.author %}
                                                    <span class="text-muted">글쓴이</span>
                                                {% else %}
                                                    {{ comment.user.username }}
                                                {% endif %}
                                            {% else %}
                                                익명
                                            {% endif %}
                                            <span class="text-muted">|</span>
                                            <span class="text-muted" style="font-size: 12px;">{{ comment.created_at }}</span>
                                        </div>
                                        <div class="d-flex">
                                            {% if comment.user == request.user %}
                                                <form method="post" action="{% url 'pass_portfolio:delete_comment' pk=pass_portfolio.pk comment_id=comment.id %}">
                                                    {% csrf_token %}
                                                    <button class="delete-button" type="submit">삭제</button>
                                                </form>
                                            {% endif %}
                                            <a class="clike-button {% if request.user in comment.likes.all %}liked{% endif %}" data-comment-id="{{ comment.id }}" href="" style="text-decoration: none;">
                                                {% if request.user in comment.likes.all %}
                                                    <i class="fa fa-heart fg-danger" style="color:red;font-size: 20px;"></i>
                                                {% else %}
                                                    <i class="fa fa-heart fa-regular" style="color:red; font-size: 20px;"></i>
                                                {% endif %}
                                                <span class="clike-count">{{ comment.likes.count }}</span>
                                            </a>
                                        </div>
                                        <div>{{ comment.text }}</div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for category in categories %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">{{category}}({{category.post_set.count}})</a>
                                    </li>
                                    {% endfor %}
                                    <li>
                                        <a href="/blog/category/no_category/">미분류({{no_category_post_count}})</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Side Widget</div>
                    <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
<script>
    const pass_portfolioDeleteUrl = "{% url 'pass_portfolio:pass_portfolio_delete' pk=pass_portfolio.pk %}";
</script>
<script>
//댓글 삭제
    document.addEventListener('DOMContentLoaded', function () {
        // 삭제 버튼에 대한 이벤트 리스너 등록
        var deleteButtons = document.getElementsByClassName('delete-button');
        for (var i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].addEventListener('click', function (event) {
                // 삭제 버튼 클릭 시 호출되는 함수
                var commentId = event.currentTarget.getAttribute('data-comment-id');
                if (!confirm('댓글을 삭제하시겠습니까?')) {
                    event.preventDefault(); // 취소를 선택한 경우에는 삭제를 중단
                }
            });
        }
    });
</script>
<script>
//댓글용
const pass_portfolio_pk = {{ pass_portfolio.id }};
console.log(pass_portfolio_pk)


    //포트폴리오 삭제
     function confirmDelete() {
        if (confirm("정말로 삭제하시겠습니까?")) {
            fetch(pass_portfolioDeleteUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                credentials: 'include',
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.status === 'success') {
                    alert('포트폴리오가 성공적으로 삭제되었습니다.');
                    window.location.href = "{% url 'pass_portfolio:pass_portfolio_list' %}";
                } else {
                    alert('삭제에 실패했습니다. 다시 시도해주세요.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('삭제에 실패했습니다. 다시 시도해주세요.');
            });
        }
    }
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    //게시글 좋아요
    const currentUserID = {% if request.user.is_authenticated %}"{{ request.user.id }}"{% else %}null{% endif %};
    const authorID = "{{ pass_portfolio.author.id }}";
    const likeButton = document.getElementById('like-button');
    const likeCount = document.getElementById('like-count');
    console.log('currentUserID:', currentUserID);
    console.log('authorID:', authorID);

    if (likeButton) {
        likeButton.addEventListener('click', function (event) {
            event.preventDefault(); // Prevent the default behavior of the link
            console.log('Like button clicked');

            // Ajax 요청
            fetch('like/')
                .then(response => response.json())
                .then(data => {
                    console.log('Response:', data);
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }
                    likeCount.textContent = data.like_count;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    } else {
        console.error('Like button not found.');
    }


document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
        if (event.target && event.target.classList.contains('clike-button')) {
            event.preventDefault();
            const likeButton = event.target;
            const commentId = likeButton.dataset.commentId;
            const portfolioId = '{{ portfolio.id }}'; // 포트폴리오 ID를 여기에 추가
            handleCommentLike(portfolioId, commentId, likeButton, event);
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
        const likeButtons = document.querySelectorAll('.clike-button');

        likeButtons.forEach(likeButton => {
            likeButton.addEventListener('click', function (event) {
                event.preventDefault();

                const commentId = likeButton.dataset.commentId;

                // AJAX 요청
                fetch(`/pass_portfolio/${pass_portfolio_pk}/toggle_comment_like/${commentId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                .then(response => response.json())
                .then(data => {
                    // 좋아요 상태 갱신
                    if (data.liked) {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-regular');
                        likeButton.querySelector('.fa-heart').classList.add('fa-solid', 'fg-danger');
                    } else {
                        likeButton.querySelector('.fa-heart').classList.remove('fa-solid', 'fg-danger');
                        likeButton.querySelector('.fa-heart').classList.add('fa-regular');
                    }

                    // 좋아요 수 갱신
                    likeButton.querySelector('.clike-count').textContent = data.like_count;
                })
                .catch(error => {
                    console.error('에러:', error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });

</script>

</html>
