<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>합격수기 수정하기</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'portfolio/writec.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <style>
        #delete-hashtag-btn {
        display: inline-block;
        margin-top: 40px;
        margin-left: 5px; /* 여백 조절 */
    }
    .hashtag-input, #delete-hashtag-btn, button {
        white-space: nowrap;
    }
    #image-preview-placeholder {
        width: 150px;
        height: 200px;
        margin-top: 10px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #image-preview1 {
        width: 150px;
        height: 200px;
    }

     #image-input {
        display: none; /* 파일 선택 input을 숨김 */
    }
    .other-input-container {
            height: 200px;
            width: 55%;
            background-color: #EFEFEF;
            padding: 20px;
            margin-left: 391px;
            margin-top: 100px;
    }

    .status-radio-buttons,
    .status-radio-buttons2 {
            padding: 10px;
    }




    </style>
</head>
<body>

{% include 'portfolio/menubar.html' %}


<div class="container">
    <div class="row" style="margin-top: 40px; font-family: 'Noto Sans KR', sans-serif;">
        <div style="width: 100%; height: 100%; color: #191919; font-size: 28px; font-family: Noto Sans; font-weight: 600; margin-left: 100px; word-wrap: break-word">내 합격수기 수정</div>
        <div class="container">
            <form method="post" enctype="multipart/form-data" id="portfolio-form">
                {% csrf_token %}

                <div id="image-container" style="margin-left: 207px; margin-top: 100px;">
                    {% if pass_portfolio.image %}
                    <!-- 이미 프로필 이미지가 설정되어 있다면 미리보기 표시 -->
                    <img id="image-preview1" src="{{ pass_portfolio.image.url }}" style=" border-radius: 20px; " onclick="openImageInput(this)">
                    {% else %}
                    <!-- 프로필 이미지가 설정되어 있지 않다면 추가하기 메시지 표시 -->
                    <img id="image-preview-placeholder" onclick="openImageInput()" src="{% static 'portfolio/image/duksaeheart.png' %}" style="background: #D9D9D9; border-radius: 20px">
                    {% endif %}
                    <input type="file" id="image-input" accept="image/*" onchange="previewImage(this)">
                </div>

                <!--필터링 박스-->
                <div class="container mb-4 rounded p-2" style=" height: 200px; margin-left:380px; margin-top: -200px; width: 55%;  border: 4px solid rgba(165.33, 203.56, 162, 0.32)">

                    <!-- 기업정보 -->
                    <div class="container mt-1" style="margin-top: -5px;">
                        <label for="public-status" class="form-label">기업 정보</label>
                        <br>
                        <div class="col-auto" style="width: 150px;">
                            <input id="company-name" class="form-control form-control-sm" type="text" placeholder="기업 이름" style="font-family: Noto Sans; font-weight: 400; border-radius: 10px; border: 2px #02343F solid;" aria-label=".form-control-sm example" value="{{ pass_portfolio.company_name}}">
                        </div>
                        <br><br>
                    </div>


                    <!-- 게시글 익명 처리 버튼 -->
                    <div class="status-radio-buttons2" style="padding:10px; margin-top: -115px; margin-left: 190px;">
                        <label for="public-status1" class="form-label">유저 이름</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="public-status1" style="font-family: Noto Sans; font-weight: 400;margin-left: -20px;" name="anonymous" value="public" {% if pass_portfolio.anonymous == True %}checked{% endif %}> 공개
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="private-status1" style="font-family: Noto Sans; font-weight: 400;margin-left: -20px;" name="anonymous" value="private" {% if pass_portfolio.anonymous == False %}checked{% endif %}>비공개

                        </div>
                    </div>


                    <!-- 대학과 전공 -->
                    <div class="container mt-4" style="margin-left: 375px;">
                        <div class="row mt-4">
                            <div class="col-md-6" style="margin-top: -96px;">
                                <div class="dropdown">
                                    <label class="form-label" for="college">대학</label>
                                    <select class="form-select form-select-sm" id="college" name="college" style="font-family: Noto Sans; font-weight: 400;width: 100px;border-radius: 10px; border: 2px #02343F solid;">
                                        <option value="default">대학 선택</option>
                                        {% for college in colleges %}
                                        <option value="{{college.name}}">{% if college.name == selected_college %}{% endif %}{{ college.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="dropdown" style="margin-left: -219px; margin-top: -96px;">
                                    <label class="form-label" for="major">전공</label>
                                    <select class="form-select form-select-sm" id="major" name="major" style="width: 160px;border-radius: 10px; border: 2px #02343F solid;">전공 선택</select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 관심 직무 선택 체크 박스 -->
                    <div class="interest" style="padding-left:12px;">
                        <label for="interest-field" style="margin-bottom: 10px; ">관심 직무</label><br>
                        {% for interest in interests.all %}
                        <input type="checkbox" id="interest-field-{{ interest.id }}" style="font-family: Noto Sans; font-weight: 400;" name="interestField" value="{{ interest.id }}" {% if interest in pass_portfolio.interest_field.all %}checked{% endif %}> {{ interest.interest }}
                        {% endfor %}
                        <br><br>
                    </div>
                </div>

                <div class="container  mb-4 rounded p-3" style="width: 70%;  background: rgba(165, 204, 162, 0.25);">
                    <!-- 제목 입력란 추가 -->
                    <div class="mb-3">
                        <label for="title-input" class="form-label" style="color: black; font-size: 18px; font-family: 'Noto Sans KR', sans-serif;">제목</label>
                        <input type="text" class="form-control" id="title-input" name="title" value="{{ pass_portfolio.title }}" placeholder="제목" style="border-radius: 10px; border: 2px #02343F solid;">
                    </div>


                    <!-- 해시태그 입력란 추가 -->
                    <div id="hashtags-container" class="mb-3"
                         style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
                        <label for="title-input" class="form-label" style="color: black; font-size: 18px; font-family: 'Noto Sans KR', sans-serif;">해시태그</label>
                        <label for="{{ form.hashtags.id_for_label }}" class="form-label" style="margin-left:-60px; color: black; font-size: 18px; font-family: Noto Sans; font-weight:600;"></label>
                    </div>


                    <!-- 해시태그 추가 버튼 -->
                    <button type="button" class="btn btn-primary btn-lg" style="background: #02343F;width: 70px; height: 34px;font-size: 14px; margin-left: 800px; padding: 5px;" onclick="addHashtagField()">추가
                    </button>
                </div>

                <!--텍스트 입력 전체-->
                <div class="col-6 mx-auto" style="width: 70%; height: 100%;">
                    <div class="container" style="background-color: #F8F8FA; border-radius: 10px; padding-top: 30px;border: 6px  rgba(165, 204, 162, 0.25) solid;">
                        <div class="card me-auto" style="padding: 15px; border-radius: 10px; width: 97%; height: 60%; margin-left: 15px; margin-top: 40px;">
                            <div class="options">
                                <button type="button" id="bold" class="option-button format">
                                    <i class="fa-solid fa-bold"></i>
                                </button>
                                <button type="button" id="superscript" class="option-button script">
                                    <i class="fa-solid fa-superscript"></i>
                                </button>
                                <button type="button" id="subscript" class="option-button script">
                                    <i class="fa-solid fa-subscript"></i>
                                </button>

                                <button type="button" id="insertOrderedList" class="option-button">
                                    <div class="fa-solid fa-list-ol"></div>
                                </button>
                                <button type="button" id="insertUnorderedList" class="option-button">
                                    <i class="fa-solid fa-list"></i>
                                </button>

                                <button type="button" id="undo" class="option-button">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </button>
                                <button type="button" id="redo" class="option-button">
                                    <i class="fa-solid fa-rotate-right"></i>
                                </button>

                                <button type="button" id="createLink" class="adv-option-button">
                                    <i class="fa fa-link"></i>
                                </button>
                                <button type="button" id="unlink" class="option-button">
                                    <i class="fa fa-unlink"></i>
                                </button>

                                <button type="button" id="justifyLeft" class="option-button align">
                                    <i class="fa-solid fa-align-left"></i>
                                </button>
                                <button type="button" id="justifyCenter" class="option-button align">
                                    <i class="fa-solid fa-align-center"></i>
                                </button>
                                <button type="button" id="justifyRight" class="option-button align">
                                    <i class="fa-solid fa-align-right"></i>
                                </button>
                                <button type="button" id="justifyFull" class="option-button align">
                                    <i class="fa-solid fa-align-justify"></i>
                                </button>
                                <button type="button" id="indent" class="option-button spacing">
                                    <i class="fa-solid fa-indent"></i>
                                </button>
                                <button type="button" id="outdent" class="option-button spacing">
                                    <i class="fa-solid fa-outdent"></i>
                                </button>
                                <select id="formatBlock" class="adv-option-button">
                                    <option value="H1">H1</option>
                                    <option value="H2">H2</option>
                                    <option value="H3">H3</option>
                                    <option value="H4">H4</option>
                                    <option value="H5">H5</option>
                                    <option value="H6">H6</option>
                                </select>
                                <select id="fontName" class="adv-option-button"></select>
                                <select id="fontSize" class="adv-option-button"></select>

                                <div class="input-wrapper">
                                    <input type="color" id="foreColor" class="adv-option-button">
                                    <label for="foreColor">Font Color</label>
                                </div>
                                <div class="input-wrapper">
                                    <input type="color" id="backColor" class="adv-option-button">
                                    <label for="backColor">Highlight Color</label>
                                </div>
                                <button id="btn-image">
                                    IMG
                                </button>
                                <input id="img-selector" type="file" accept="image/*"/>
                            </div>
                        </div>
                        <div class="container" style="padding-bottom: 90px; margin-bottom: 30px;">
                            <!-- 마크다운 에디터 추가 -->
                            <div id="text-input" contenteditable="true" style="overflow: auto; height: 500px; margin-top: 50px; border-radius: 10px;  background: white">{{ pass_portfolio.content|safe }} <!-- 기존 내용을 표시 --></div>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-bottom: 30px; "></div>
                <!-- 수정 완료 및 취소 버튼 -->
                <div class="d-grid gap-2 d-md-flex" style="margin-left: 880px;">
                    <button type="button" class="me-md-2 finish" onclick="submitPassPortfolioForm()" style="font-family: Noto Sans; font-weight: 600; margin-right: 210px; width: 100px; height: 38px;  background: rgba(165, 204, 162, 0.25); border-radius: 10px;">
                        수정 완료
                    </button>
                    <a href="{% url 'pass_portfolio:pass_portfolio_detail' pk=pass_portfolio.pk %}" style="font-family: Noto Sans; font-weight: 600; width: 100px; height: 38px;  background: rgba(165, 204, 162, 0.25); border-radius: 10px; display: inline-block; text-align: center; line-height: 38px; text-decoration: none; color: #191919;">취소</a>
                </div>


            </form>
        </div>
    </div>
    <br><br><br><br>
    <script>
const pass_portfolioUpdateUrl = "{% url 'pass_portfolio:pass_portfolio_update' pk=pass_portfolio.pk %}";


var existingHashtagsList = {{ pass_portfolio.hashtags|safe }};  // 기존 해시태그 목록
var maxHashtags = 4;  // 최대 해시태그 개수

function addHashtagField() {
    var hashtagsContainer = document.getElementById('hashtags-container');

    // 현재 입력된 해시태그 개수 계산
    var currentTagCount = document.querySelectorAll('.hashtag-input:not(.hashtag-input-template)').length;

    // 최대 개수 초과 여부 확인
    if (currentTagCount < maxHashtags) {
        // 추가 입력란 생성
        addHashtagInput(hashtagsContainer, '');
    } else {
        alert('태그는 최대 ' + maxHashtags + '개까지만 등록 가능합니다.');
    }
}

function addHashtagInput(container, value) {
    var newHashtagInput = document.createElement('input');
    newHashtagInput.type = 'text';
    newHashtagInput.className = 'hashtag-input';
    // 스타일 적용을 위한 클래스 추가
    newHashtagInput.classList.add('form-control', 'hashtag-input');
    newHashtagInput.placeholder = '해시태그';
    newHashtagInput.style.marginTop = '10px';
    newHashtagInput.value = value || '';


    // 추가되는 해시태그 색

        newHashtagInput.style.borderRadius = '20px';
        newHashtagInput.style.border = '2px solid #02343F';
        newHashtagInput.style.width = '180px';
        newHashtagInput.style.marginRight='20px';
        newHashtagInput.style.marginTop='50px';

    var deleteButton = document.getElementById('delete-hashtag-btn');
    if (!deleteButton) {
        // 삭제 버튼이 없다면 생성
        deleteButton = document.createElement('button');
        deleteButton.type = 'button';
        deleteButton.id = 'delete-hashtag-btn';
        deleteButton.innerText = '삭제';
        deleteButton.onclick = function () {
            // 삭제 버튼 클릭 시 가장 최근에 추가된 입력란 삭제
            var lastInput = document.querySelector('.hashtag-input:not(.hashtag-input-template):last-child');
            if (lastInput) {
                lastInput.parentNode.removeChild(lastInput);
            }
        };
        // 삭제 버튼 추가
        container.appendChild(deleteButton);


        // 삭제 버튼 스타일 적용
        deleteButton.style.background = '#02343F';
        deleteButton.style.width = '70px';
        deleteButton.style.height = '34px';
        deleteButton.style.fontSize = '14px';
        deleteButton.style.marginLeft = '870px';
        deleteButton.style.borderRadius = '8px';
        deleteButton.style.color = 'white';
        deleteButton.style.position = 'absolute';
        deleteButton.style.left = '160px'; // 원하는 왼쪽 위치 조절
        deleteButton.style.top = '755.1px';  // 원하는 위쪽 위치 조절
    }

    // 새로운 입력란 추가
    container.appendChild(newHashtagInput);
}

// 초기 해시태그 입력란 생성
for (var i = 0; i < existingHashtagsList.length && i < maxHashtags; i++) {
    addHashtagInput(document.getElementById('hashtags-container'), existingHashtagsList[i]);
}

// 전역 스코프에 selectedMajor 변수 추가
var selectedCollege = '{{ selected_college }}';
var selectedMajor = '{{ selected_major }}';

document.addEventListener('DOMContentLoaded', function () {
    var collegeDropdown = document.getElementById('college');
    var majorDropdown = document.getElementById('major');

    // Function to update major options based on the selected college
    function updateMajorOptions(college) {
        majorDropdown.innerHTML = ''; // Clear existing options

        switch (college) {
            case '과학기술대학':
                {% for major in sm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '약학대학':
                {% for major in pm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '아트앤디자인대학':
                {% for major in am %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
            case '글로벌융합대학':
                {% for major in gm %}
                    majorDropdown.innerHTML += '<option value="{{ major.id }}" {% if major.id == selectedMajor %}selected{% endif %}>{{ major.name }}</option>';
                {% endfor %}
                break;
        }
    }

    // Event listener for the college dropdown
    collegeDropdown.addEventListener('change', function () {
        selectedCollege = this.value;
        majorDropdown.disabled = false; // Enable major dropdown
        updateMajorOptions(selectedCollege); // Update major options based on the selected college
    });

    // Initialize the major dropdown based on the selected college
    if (selectedCollege !== 'default') {
        collegeDropdown.value = selectedCollege;
        updateMajorOptions(selectedCollege);
    }

    // Set the selected major if it's not the default value
    if (selectedMajor !== '') {
        majorDropdown.value = selectedMajor;
    }
});

// Event listener for the major dropdown
document.getElementById('major').addEventListener('change', function () {
    selectedMajor = this.value;
    console.log(selectedMajor);
});

function submitPassPortfolioForm() {
    var title = document.getElementById('title-input').value;
    console.log('Title:', title);

    var editableContent = document.getElementById('text-input').innerHTML;
    var styles = window.getComputedStyle(document.getElementById('text-input'));
    var hashtags = document.querySelectorAll('.hashtag-input');
    var hashtagValues = Array.from(hashtags).map(tag => tag.value);
    var imageInput = document.getElementById('image-input').files[0];
    var selectedMajor = document.getElementById('major').value;

    var interestFieldElements = document.getElementsByName('interestField');
    var selectedFields = Array.from(interestFieldElements)
        .filter(field => field.checked)
        .map(field => field.value);
var company_name = document.getElementById('company-name').value;

    console.log('selectedFields:', selectedFields);

    var selectedDepartment;
    var selectedDropdowns = document.querySelectorAll('select[name="department"]');
    for (var i = 0; i < selectedDropdowns.length; i++) {
        if (selectedDropdowns[i].value) {
            selectedDepartment = selectedDropdowns[i].value;
            break;
        }
    }


    // 유저 이름
    var statusElements1 = document.getElementsByName('anonymous');
    var selectedStatus1 = "";
    for (var i = 0; i < statusElements1.length; i++) {
        if (statusElements1[i].checked) {
            selectedStatus1 = statusElements1[i].value;
            break;
        }
    }

    // 'public'이면 true, 아니면 false로 변환
    selectedStatus1 = (selectedStatus1 === 'public');
    console.log('selectedStatus1:', selectedStatus1);



    console.log('Saved Major:', selectedMajor);  // 이 부분을 이동
    var formData = new FormData();
    formData.append('title', title);
    formData.append('content', editableContent);
    formData.append('company_name', company_name);
    formData.append('image', imageInput);
    formData.append('styles', JSON.stringify({
        color: styles.color,
        backgroundColor: styles.backgroundColor,
        fontSize: styles.fontSize,
    }));
    formData.append('hashtags', JSON.stringify(hashtagValues));
    // selectedFields 배열의 각 값을 개별적으로 추가
    selectedFields.forEach(field => {
        formData.append('interest_field', field);
    });

    formData.append('department', selectedMajor);
    formData.append('anonymous', selectedStatus1);


    console.log('Title:', title);
    console.log('Editable Content:', editableContent);
    console.log('Hashtags:', hashtagValues);
    console.log('Selected Fields:', selectedFields);
    console.log('Selected Major:', selectedMajor);
    var csrfToken = getCookie('csrftoken');

    if (window.confirm('정말로 저장하시겠습니까?')) {
        fetch(pass_portfolioUpdateUrl, {
    method: 'POST',
    headers: {
        'X-CSRFToken': csrfToken,
        'X-Requested-With': 'XMLHttpRequest', // AJAX 요청임을 나타내는 헤더
    },
    credentials: 'include',
    body: formData,
    redirect: 'follow',
})
.then(response => {
    console.log('Raw Server Response:', response);

    if (!response.ok) {
        console.error('Non-JSON Response:', response);
        throw new Error('Network response was not ok');
    }

    return response.json();
})
.then(data => {
    console.log('Server Response:', data);

    if (data && data.status === 'success') {
        console.log('Text saved successfully!');

        if (data.is_ajax) {
            console.log('Redirecting to pass_portfolio detail page');
            console.log('포트폴리오 상세 페이지로 이동 중');
            window.location.href = '/pass_portfolio/' + data.pk + '/';
        }
    } else {
        console.error('Error:', data);
        alert('Text save failed. Please try again.');
        console.log('Detailed error data:', data);
    }
})
.catch(error => {
    console.error('Error:', error);
    alert('Text save failed. Please try again.');

    console.log('Error Response:', error.response);
    console.log('Error Text:', error.response.text()); // 추가

});
}
}


    </script>

    <script src="{% static 'portfolio/load.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</div>
<br><br><br>
</body>
{% include 'single_page/footer.html' %}
</html>
